.customScroll {
    overflow: auto;
    max-height: 100vh;
    -ms-overflow-style: none;
}
.customScroll::-webkit-scrollbar {
    display: none;
}

.customCard {
    margin-right: 5px !important;
    /* width: 33% !important; */
}

.customText {
    word-wrap: break-word;
}