.customShadows {
    text-shadow: 2px 2px 6px #000000;
}

.bannerBackground {
    background-color: #5769a0;
}

.customDimmension {
    min-height: 100vh !important;
    padding: 1em 0em !important;

}