.customLabel {
    background-color: rgba(0,0,0,0)!important;
    /* background-color: inherit; */
    /* background: rgba(0,0,0,0); */
}

.customText {
    color: olivedrab;
}

/* .customPadding {
    
} */

.customHeight {
    min-height: inherit;
}