.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;  
    align-items: stretch;
    /* justify-content: space-between; */
    align-items: baseline;
  }

  .customCard {
    flex: 0 0 auto;
    height: inherit;

  }
  .scrolling-wrapper-flexbox::-webkit-scrollbar {
    display: none;
  }


  